@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-edit{
    background-image: url("https://images.unsplash.com/photo-1503951914875-452162b0f3f1?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY3NTE2MTY5NQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
    
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}